<?xml version = "1.0" encoding = "UTF-8"?>

<beans xmlns = "http://www.springframework.org/schema/beans"
       xmlns:xsi = "http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation = "http://www.springframework.org/schema/beans
   http://www.springframework.org/schema/beans/spring-beans-3.0.xsd" default-init-method="customInit" default-destroy-method="customDestroy">

    <bean id="quoteBean1" class="com.xam.domain.Quote">
        <property name="author" value="Pam"/>
        <property name="quotation" value="Necessity is the mother of all inventions."/>
    </bean>

    <bean id="quoteBean2" class="com.xam.domain.Quote">
        <constructor-arg index="0" value="Xam"/>
        <constructor-arg index="1" value="A person doesn't change, their mask falls off."/>
    </bean>

    <bean id="quote" class="com.xam.domain.Quote">
        <constructor-arg type="String" value="Anonymous"/>
        <constructor-arg type="String" value="Silence is an answer too."/>
    </bean>

    <bean name="helloWorld, helloWorldX" autowire="byName" class="com.xam.domain.HelloWorld">

    </bean>

    <bean name="lifeCycleDemoBean"  class="com.xam.domain.LifeCycleDemoBean" init-method="customInit"
    destroy-method="customDestroy">
    </bean>

    <bean name="postProcessorDemoBean"  class="com.xam.domain.PostProcessorDemoBean">
    </bean>

<!--Will throw UnsatisfiedDependencyException caused by NoUniqueBeanDefinitionException -->
    <!--<bean id="helloWorld2" autowire="byType"  class="com.xam.domain.HelloWorld">-->

    <!--</bean>-->
</beans>